@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@tailwind screens;

/* If tailwindcss dark mode */
::selection {
  background-color: #a9d4ec;
}
[data-theme='dark'] ::selection {
  background-color: #00416d;
}

html {
  scroll-behavior: smooth;
}

.base-button-animation {
  @apply transition duration-150 ease-out hover:bg-opacity-95 active:scale-95 md:active:scale-90;
}

.root {
  @apply bg-neutral-100 text-slate-900 antialiased dark:bg-neutral-900 dark:text-slate-200;
}

.error-page {
  @apply h-screen w-screen bg-gray-200 text-black;
}

.button-normal {
  @apply rounded-lg bg-neutral-900 px-3 py-2
    text-white duration-150 hover:bg-neutral-800 hover:ring-2 hover:ring-blue-400
    dark:bg-neutral-700;
}

.footer-default {
  @apply flex flex-col items-center gap-1.5 border-t border-gray-200
    py-3 text-center
    text-gray-700 dark:border-gray-700 dark:text-gray-400;
}

.base-border {
  @apply border-gray-300 dark:border-gray-600;
}

.base-input-box {
  @apply base-border rounded border bg-gray-200 p-2 dark:bg-gray-800;
}
